*{
    padding: 0;
    margin: 0;
    --color: white;
    font: "Helvetica", sans-serif;
    --backgroundColor: rgb(212, 2, 212);
}

header{
    color:var(--backgroundColor);
    display: flex;
    justify-content: space-between;
}

.high-score{
    display: none;
}
.timer{
    display:none;
}
#start{
    width: 70%;
    padding: 20px 20px;
    background-color: rgb(212, 2, 212);
    border-radius: 10px;
    border-color: pink;
    margin: 20% auto;
}

h1{
    padding: 5px 10px;
    font: 50px var(--color);
    text-align: center;
    font-size: 30px;
    color: var(--color);
}
p{
    padding: 5px;
    text-align: center;
    color: var(--color);
}
button{
    padding: 4px 4px;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content:center;
    margin: 0 auto;
    top: 50%;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 2px solid rgb(212, 2, 212);
    transition-duration: 0.4s;
}
#next-question{
    display: none;
}
.questions{
    display: none;
}
#questions{
    width: 70%;
    padding: 20px 20px;
    background-color: rgb(212, 2, 212);
    border-radius: 10px;
    border-color: pink;
    margin: 20% auto;
}
.questions ul{
    display: flex;
    flex-direction: column;
}
.questions ul button{
    width: 30%;
    text-align: left;
}
.submit-button{
    position: relative;
    display: flex;
    justify-content:center;
}
#end{
    display: none;
    width: 70%;
    padding: 20px 20px;
    background-color: rgb(212, 2, 212);
    border-radius: 10px;
    border-color: pink;
    margin: 20% auto;
}
#submit-name{
    padding: 4px 4px;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content:center;
    margin: 0 auto 5px auto;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 2px solid rgb(212, 2, 212);
    transition-duration: 0.4s;
}
#high-scores{
    display: none;
    width: 70%;
    padding: 20px 20px;
    background-color: rgb(212, 2, 212);
    border-radius: 10px;
    border-color: pink;
    margin: 20% auto;
}
button:hover {
    background-color: rgb(212, 2, 212);
    color: white;
  }
button:active {
    transition-duration: 0.1s;
    background-color: green;
}

#initals {
    width: 20%; 
}